*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, span {
    padding: 0;
    margin:0;
}

.part_one{
    width:100%;
    height: 2000px;
}

.part_two{
    width:100%;
    height: 2000px;
    background-color: blue;
}

@keyframes grow-progress{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.line{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    height: 25px;
    transform-origin: left;
    animation: grow-progress linear forwards;
    animation-timeline: scroll();
}
